.navbar {
    height: 40px;
}

.searchbar {
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn {
    background: rbg(32,83,117);
}

#bottombar {
    position: fixed;
    background: black;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    line-height: 10px;
    bottom: 0%;
    gap: 2px;
}

#bottombar p, a {
    margin-top: 4px;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

#bottombar img {
    margin-top: 4px;
    width: 13px;
    height: 13px;
}